/* Jasnoszare tło dla całego okna, żeby biała karta się odcinała */
.root {
    -fx-background-color: #28DEDC;
}

/* Nasza biała karta na środku */
.content-box {
    -fx-background-color: white;
    -fx-padding: 40px;
    -fx-background-radius: 15px;
    /* Delikatny, bardzo miękki cień pod kartą */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 20, 0.2, 0, 10); 
}

/* Styl dla napisu nad polem tekstowym */
.input-label {
    -fx-font-family: 'Barlow'; /* Lub dowolna inna czcionka, którą wgrałeś */
    -fx-font-size: 14px;
    -fx-text-fill: #4b5563; /* Ciemnoszary */
    -fx-font-weight: bold;
}

/* Styl dla samego pola tekstowego */
.input-field {
    -fx-font-family: 'Barlow';
    -fx-font-size: 16px;
    -fx-padding: 12px;
    -fx-background-color: #f9fafb;
    -fx-border-color: #d1d5db;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-width: 1px;
}

/* Efekt gdy użytkownik kliknie w pole, by pisać (tzw. focus) */
.input-field:focused {
    -fx-border-color: #0fb9b1; /* Twój turkusowy akcent! */
    -fx-border-width: 2px;
    -fx-background-color: white;
}

/* Styl przycisku */
.action-button {
    -fx-background-color: #0fb9b1;
    -fx-text-fill: white;
    -fx-font-family: 'Barlow';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 12px 40px;
    -fx-background-radius: 25px; /* Mocno zaokrąglone brzegi, jak pigułka */
    -fx-cursor: hand;
}

/* Zmiana koloru przycisku po najechaniu myszką */
.action-button:hover {
    -fx-background-color: #0c9c95;
}

#success {
    -fx-font-size: 70px;
}