.root {
    -fx-background-color: #28DEDC;
}

.h1 {
    -fx-font-family: 'Barlow Light';
    -fx-font-size: 46px;
}

.paragraph {
    -fx-font-family: 'Barlow Light';
    -fx-font-size: 20px;
    -fx-line-spacing: 8px;
    -fx-padding: 20px 40px;
}

.content-box {
    /* Tło o ton jaśniejsze niż okno */
    /*-fx-background-color: #27F5D6;*/

    /* Ciemniejsza obramówka o grubości 3px */
    /*-fx-border-color: #0f111a;
    -fx-border-width: 3px;*/

    /* Zaokrąglone rogi (oddzielnie dla tła i ramki, żeby się nie "gryzły") */
    -fx-background-radius: 20px;
    -fx-border-radius: 18px;

    /* Odstęp tekstów od krawędzi boxa */
    -fx-padding: 40px;

    /* Mały bonus wizualny: dodajemy cień pod boxem, żeby wydawał się "unosić" nad tłem */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.2, 0, 10);
}